link(rel='stylesheet', href='/stylesheets/moviecss3.css')
h1 GetUserMedia and CSS3 Animations, Transitions and 3D Transforms
p Welcome to #{title}
div
    button(onclick="toggleShape()") Change Shape
div#container
    div#stage
        div#shape.cube.backfaces
            div.plane.one 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.two 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.three
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.four
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.five
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.six
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.seven 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.eight 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.nine 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.ten 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.eleven 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
            div.plane.twelve 
                video#sourcevid(width="200", height="200", autoplay="true")
                    source(src="/movies/dizzy.mp4")
script(type='text/javascript', src='/javascripts/moviecss3.js')

